*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, Arial, Helvetica;
    text-decoration: none;
}

body{
    background-color: #F2f2f2;

}

header{
    width: 1212px;
    height: 250px;
    background-color: #232828;
    margin: 0 auto;
    border-radius:20px;