{% extends 'layout.html' %}
{% load static %}

{% block title %}
Crear encuesta
{% endblock %}

{% block content %}
<div class="contenido">
	<form action="{% url 'guardar' %}" method="POST">
		{% csrf_token %}
		<label for="title">Titulo</label>
		<input type="text" name="title" placeholder="Introduzca el titulo" maxlength="40">
		<ol type="A" id="agregar_textarea">
			<li>
				<input type="text" name="respuesta1" placeholder="Respuesta" maxlength="40">
			</li>
			<li>
				<input type="text" name="respuesta2" placeholder="Respuesta" maxlength="40">
			</li>						
		</ol>
	<input type="submit" value="Crear"/>
		
	</form>
	<input id= "añadir" type="button" value="+" onclick="add()"/>
	<input id= "quitar" type="button" value="-" onclick="remove()"/>
</div>
<script type="text/javascript" src="{% static 'javascript/agregar_textarea.js' %}"></script>
{% endblock %}