{% extends 'layout.html' %}
{% load static %}

{% block title %}
¡Haz tu encuesta!
{% endblock %}
{% block content %}
<div class="contenido">
	<img src="{% static 'images/encuesta-sample.jpg' %}" alt="imagen de encuesta">
	<div class="introduccion">
		<h2>
			¡Crea tu propia encuesta!
		</h2>
		<br>
		<p>
			Con Japoll puedes crear tu propia encuesta de forma gratuita, simple y en cuestión de segundos.
		</p>
		<p>
			Luego comparte el enlace y permite que otras personas voten. ¡Facil y sencillo!
		
		</p>
	</div>


</div>
{% endblock %}
