{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>
		Japoll | 
		{% block title %}
		<!-- Titulo de cada página -->
		{% endblock %}

	</title>
	<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	<link rel="icon" href="icono.png">
</head>
<body>
<header>
	<div class="cabecera">
		<div id="logotipo">
			<img src="{% static 'images/icono.png' %}">
			<h1>Japoll</h1>
		</div>
		<nav>
			<ul>
				<li><a href="{% url 'inicio' %}">Inicio</a></li>
				<li><a href="{% url 'encuesta_simple' %}">Crear Encuesta</a></li>
				<li><a href="#">Registrarse</a></li>
				<li><a href="#">Ingresar</a></li>
			</ul>
		</nav>
	</div>
</header>
{% block content %}

{% endblock %}

<footer>
	<ul>
		<li><a href="#">Contacto</a></li>
		<li><a href="#">Cookies</li>
		<li></li>
	</ul>
</footer>
</body>
</html>