<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Japoll | Haz tu encuesta</title>
	<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link rel="icon" href="icono.png">
</head>
<body>
<header>
	<div class="cabecera">
		<div id="logotipo">
			<img src="icono.png">
			<h1>Japoll</h1>
		</div>
		<nav>
			<ul>
				<li><a href="#">Inicio</a></li>
				<li><a href="#">Registrarse</a></li>
				<li><a href="#">Ingresar</a></li>
			</ul>
		</nav>
	</div>
</header>

<div class="contenido">
	<img src="encuesta-sample.jpg" alt="imagen de encuesta">
	<div class="introduccion">
		<h2>
			¡Crea tu propia encuesta!
		</h2>
		<br>
		<p>
			Con Japoll puedes crear tu propia encuesta de forma gratuita, simple y en cuestión de segundos.
		</p>
		<p>
			Luego comparte el enlace y permite que otras personas voten. ¡Facil y sencillo!
		
		</p>
	</div>
	

</div>

<footer>
	<ul>
		<li><a href="#">Contacto</a></li>
		<li><a href="#">Cookies</li>
		<li></li>
	</ul>
</footer>
</body>
</html>